.loginBox {
    width: 50%;
    height: 50%;
}
.login{
    display: flex;
    justify-content: center;
}
.signUpBox {
    width: 50%;
    height: 50%;
}
.signUp{
    display: flex;
    justify-content: center;
}
.editForm {
    display: flex;
    justify-content: center;
}
.editFormbox {
    width: 50%;
    height: 50%;
}

.centerBox {
    width: 50%;
    height: 100%;
}
.center{
    display: flex;
    justify-content: center;
}