.loginBox {
    width: 50%;
    height: 50%;
}
.login{
    display: flex;
    justify-content: center;
    width: 60vw;
}
.signUpBox {
    width: 50%;
    height: 50%;

}
.signUp{
    display: flex;
    justify-content: center;
    width: 60vw;
}
.editForm {
    display: flex;
    justify-content: center;
}
.editFormbox {
    width: 50%;
    height: 50%;
}

.centerBox {
    width: 50%;
    height: 100%;
}
.center{
    display: flex;
    justify-content: center;
}

.Menu {
    display: flex;
    flex-direction: column;
    background-color: #bed4f7;
    box-shadow: 0px 0px 3px 3px #bed4f7;
    border: 1px solid black;
    width: 80%;
}

.menuButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuHeader {
    text-align: center;
}
.Home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    height: 100vh;
}
.eventImage {
    max-height: 300px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px gray;
    margin: 10px;
}

.profileContent{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80vw;
    height: 90vh;
    margin: 10px;
    background-color: #bed4f7;
    box-shadow: 0px 0px 2px gray;
    border: 1px solid black;
} 

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileLeft {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.profileRight {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    margin: 5px;

}
.profileImage {
    max-width: 300px;
    margin: 10px;
    border: 1px solid gray;
}
.profileBio {
    width: 100%;
    height: 100%;
    flex: 1;
}

.profileEvents {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
}
.eventList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 5px;
    background-color: #f7f7f7;
    border: 1px solid gray;
    align-items: center;
}

.editProfile{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.eventBrowserGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin-top: 50px;
    justify-items: center;
    align-items: center;

}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventImage{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 200px;
    margin: 2px;
    object-fit: cover;
    overflow: hidden;
}
.eventGridItem{
    margin: 5px;
}


.event {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventData {
    height: 80%;
    width: 70%;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 4px gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventImage{
    width: 100%;
}
.eventData img {
  max-width: 80%;
  max-height: 30%;
}

.eventBottom {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.eventBottom .col {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 15px;
    width: 90%;
}